
<div class="product-item__previews">
        <i class="fab fa-android fa-10x"></i>
    <div class="product-preview">
    <img src="./img/nike.jpg" alt="">
    <div class="product-preview--big">
    <img src="./img/nike.jpg" alt="">
    
    </div>

</div>

<div class="product-preview">
        <img src="./img/nike.jpg" alt="">
        <div class="product-preview--big">
        <img src="./img/nike.jpg" alt="">
        
        </div>
    
    </div>

    <div class="product-preview">
            <img src="./img/nike.jpg" alt="">
            <div class="product-preview--big">
            <img src="./img/nike.jpg" alt="">
            
            </div>
        
        </div>

</div>
