body{
padding-top: 100px;
}

.block{
outline: 1px solid red;
}

.parent{
height: 300px;
width: 400px;
margin 0 auto;
}

.child{
width:50%;
height: 50%;

}

.additional{
height: 150px;
width: 400px;
margin 15px auto;
}