@font-face{

font-family: pretty_font;
src: url('../fonts/14704.ttf');
}


.font-example{
font-family: pretty_font,'Trebuchet MS', Arial, sans-serif;
padding-top: 90px;
}
.position-fixed{

position: fixed;
top: 20px;
left: 0;
height:70px;
width: 100%;
background-color: greenyellow;
}

.position-absolute{

    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 100px;
    width: 100px;
    border: 1px solid red; 
    }

    .position-relative{
        position: relative;
        width: 200px;
        height: 200px;
        outline: 1px solid blue;
    }

    .inner-relative{
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 100px;
    transform: translate(-50%);
    outline: 1px solid green;
    }

    .overflow{
        width: 200px;
        height: 150px;
        outline: 3px solid brown;
        overflow-y: scroll;

    }

    .clearfix:after{
        content: '';
        display: block;
        clear: both;
    }

    .float-example{

    outline: 1px solid red;

    }
    
    .float-img{

    height: 200px;
    width: 200px;
    float: left;
    
    }

    .float-item{
        width: 400px;
        height: 200px;
        float: left;
    }

    .float-item.red{
        
        background-color: crimson;
         }   

         .float-item.blue{
            
            background-color: blue;
             }   

             .float-item.green{
                
                background-color: green;
                 }   