
<nav class="main-menu">

<a href="#" class="main-menu active">
<li class="main-menu__items">
    <div class="main-menu__item--top">homepage</div>
    <div class="main-menu__item--bottom">home</div>
</ul> 

<div class="main-menu__items">
        <div class="main-menu__item--top">who are </div>
        <div class="main-menu__item--bottom">home</div>
    </div> 

<div class="main-menu__items">
            <div class="main-menu__item--top">homepage</div>
            <div class="main-menu__item--bottom">home</div>
        </div> 

<div class="main-menu__items">
                <div class="main-menu__item--top">homepage</div>
                <div class="main-menu__item--bottom">home</div>
            </div> 

<div class="main-menu__items">
                    <div class="main-menu__item--top">homepage</div>
                    <div class="main-menu__item--bottom">home</div>
                </div> 


</div>
</nav>