
<nav class="main-menu">

<a href="#" class="main-menu active">
<li class="main-menu__items">
    <div class="main-menu__item--top">homepage</div>
    <div class="main-menu__item--bottom">home</div>
</ul> 

<div class="main-menu__items">
        <div class="main-menu__item--top">who are we? </div>
        <div class="main-menu__item--bottom">about</div>
    </div> 

<div class="main-menu__items">
            <div class="main-menu__item--top">my portfolio</div>
            <div class="main-menu__item--bottom">projects</div>
        </div> 

<div class="main-menu__items">
                <div class="main-menu__item--top">latest news</div>
                <div class="main-menu__item--bottom">blog</div>
            </div> 

<div class="main-menu__items">
                    <div class="main-menu__item--top">get in touch</div>
                    <div class="main-menu__item--bottom">contact</div>
                </div> 


</div>
</nav>