<div class="production">
        
    <img class="production_img" src="./img/nike.jpg" alt="Nike" title="Nike Zoom">

    <div class="production_previews-wrapper">
        @@include('../product-previews/_product-previews.html')

    </div>
                
            <h3 class="production_title">Nike Zoom</h3>

      
        <p class="production_description">The Nike Air Zoom has been re-imagined with fast 
                design language and a quick, smooth transition. 
                A Zoom Air unit and beveled heel work together 
                for optimal responsiveness, while engineered mesh and 
                Flywire cables lock you down for speed.</p>

            <div class="production_buttons">

            <a href="#" title="Купить">Купить</a>
            <a href="#" title="В корзину">В корзину</a>

        </div>