<div class="product-item">
    <div class="product-item__images">
        <div class="product-item__previews-wrapper">
            @@include('../product-previews/_product-previews.html')
        </div>
        <div class="product-item__img">
            <img src="./img/nike.jpg" alt="">
        </div>
    </div>
    <div class="product-item__title">
        <h3>Nike Zoom</h3>
    </div>
    <div class="product-item__description">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur aliquid maxime maiores quae velit mollitia autem minus exercitationem? Quae, itaque laboriosam! Amet illo sapiente veritatis nemo, unde vero? Corrupti, doloremque!</p>
    </div>
    <div class="product-item__buttons">
        <a href="#" title="Купить">Купить</a>
        <a href="#" title="В корзину">В корзину</a>
    </div>
</div>